<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<ul class="navbar-nav mr-auto">
		<li th:fragment="guiMenu" id="guiMenu" class="nav-item dropdown"><a
			href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
			aria-haspopup="true" aria-expanded="false"><span
				th:text="#{header.gui}"></span> <b class="caret"></b> </a>
			<ul class="dropdown-menu bg-dark">
								<li sec:authorize="hasRole('ROLE_ADMIN')"  th:classappend="${module == 'account' ? 'active' : ''}">
    								<a id="guiItemAccount" th:href="@{/accounts/list}" th:text="#{class.Account}"></a></li>
								<li th:classappend="${module == 'sheet1User' ? 'active' : ''}">
    								<a id="guiItemSheet1User" th:href="@{/sheet1Users/list}" th:text="#{class.Sheet1User}"></a></li>
								<li th:classappend="${module == 'sheet2' ? 'active' : ''}">
    								<a id="guiItemSheet2" th:href="@{/sheet2s/list}" th:text="#{class.Sheet2}"></a></li>
								<li th:classappend="${module == 'sheet1' ? 'active' : ''}">
    								<a id="guiItemSheet1" th:href="@{/sheet1s/list}" th:text="#{class.Sheet1}"></a></li>
			</ul></li>
		<li th:fragment="restMenu" id="restMenu" class="nav-item dropdown"><a
			href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
			aria-haspopup="true" aria-expanded="false"><span
				th:text="#{header.restApi}"></span> <b class="caret"></b> </a>
			<ul class="dropdown-menu bg-dark">
								<li sec:authorize="hasRole('ROLE_ADMIN')"  th:classappend="${module == 'account' ? 'active' : ''}">
    								<a id="apiItemAccount" th:href="@{/api/accounts}" th:text="#{class.Account}"></a></li>
								<li th:classappend="${module == 'sheet1User' ? 'active' : ''}">
    								<a id="apiItemSheet1User" th:href="@{/api/sheet1Users}" th:text="#{class.Sheet1User}"></a></li>
								<li th:classappend="${module == 'sheet2' ? 'active' : ''}">
    								<a id="apiItemSheet2" th:href="@{/api/sheet2s}" th:text="#{class.Sheet2}"></a></li>
								<li th:classappend="${module == 'sheet1' ? 'active' : ''}">
    								<a id="apiItemSheet1" th:href="@{/api/sheet1s}" th:text="#{class.Sheet1}"></a></li>
			</ul></li>
		<li th:fragment="staticMenu" id="staticMenu" class="nav-item dropdown">
							</li>
					</ul>
</body>
</html>
