<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common_header(~{::title},~{},~{})">
<title th:text="#{header.restApi}"></title>
</head>
<body class="d-flex flex-column min-vh-100">
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="wrapper flex-grow-1">

    	<a  sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/api/accounts}">Account</a><br>
    	<a th:href="@{/api/sheet1Users}">Sheet1User</a><br>
    	<a th:href="@{/api/sheet2s}">Sheet2</a><br>
    	<a th:href="@{/api/sheet1s}">Sheet1</a><br>
    	<a th:href="@{/}">Home</a><br>
    	<a th:href="@{/login}">Login</a><br>
	</div>	<div class="mt-auto" th:insert="fragments/footer :: footer">&copy; 2020 default</div>
</body></html>
