<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common_header(~{::title},~{},~{})">
<title th:text="#{edit.edit} + ' ' + #{class.Sheet1User}"></title>
</head>
<body class="d-flex flex-column min-vh-100">
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="wrapper flex-grow-1">

		<form class="form-narrow form-horizontal" method="post"
			th:action="@{/sheet1Users/save}" th:object="${sheet1UserForm}"
			th:fragment="sheet1UserForm">
			<!--/* Show general error messages when form contains errors */-->
			<th:block th:if="${#fields.hasErrors('${sheet1UserForm.*}')}">
				<div th:each="fieldErrors : ${#fields.errors('${sheet1UserForm.*}')}">
					<div th:each="message : ${fieldErrors.split(';')}">
						<div
							th:replace="fragments/alert :: alert (type='danger', message=${message})">Alert</div>
					</div>
				</div>
			</th:block>
			<fieldset>
				<legend th:unless="${sheet1UserForm.id > 0}"
					th:text="#{edit.new} + ' ' + #{class.Sheet1User}"></legend>
				<legend th:if="${sheet1UserForm.id > 0}"
					th:text="#{edit.edit} + ' ' + #{class.Sheet1User}"></legend>

				<input type="hidden" class="form-control" id="id" th:field="*{id}" />
				<div class="form-group"
					th:classappend="${#fields.hasErrors('sheet1id')}? 'has-error'">
					<label for="sheet1id" class="col-lg-2 control-label"
						th:text="#{Sheet1User.sheet1id} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="sheet1id"
							th:field="*{sheet1id}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('sheet1id')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('userid')}? 'has-error'">
					<label for="userid" class="col-lg-2 control-label"
						th:text="#{Sheet1User.userid} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="userid"
							th:field="*{userid}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('userid')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('useryn')}? 'has-error'">
					<label for="useryn" class="col-lg-2 control-label"
						th:text="#{Sheet1User.useryn} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="useryn"
							th:field="*{useryn}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('useryn')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<button type="submit" name="action" value="save"
							class="btn btn-default" th:text="#{edit.save}"></button>
						<button type="submit" name="action" value="cancel" class="btn"
							th:text="#{edit.cancel}"></button>
					</div>
				</div>
			</fieldset>
		</form>

	</div>
	<div class="mt-auto" th:insert="fragments/footer :: footer">&copy;
		2020 default</div>
</body>
</html>
