<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common_header(~{::title},~{},~{})">
<title th:text="#{edit.edit} + ' ' + #{class.Sheet2}"></title>
</head>
<body class="d-flex flex-column min-vh-100">
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="wrapper flex-grow-1">

		<form class="form-narrow form-horizontal" method="post"
			th:action="@{/sheet2s/save}" th:object="${sheet2Form}"
			th:fragment="sheet2Form">
			<!--/* Show general error messages when form contains errors */-->
			<th:block th:if="${#fields.hasErrors('${sheet2Form.*}')}">
				<div th:each="fieldErrors : ${#fields.errors('${sheet2Form.*}')}">
					<div th:each="message : ${fieldErrors.split(';')}">
						<div
							th:replace="fragments/alert :: alert (type='danger', message=${message})">Alert</div>
					</div>
				</div>
			</th:block>
			<fieldset>
				<legend th:unless="${sheet2Form.id > 0}"
					th:text="#{edit.new} + ' ' + #{class.Sheet2}"></legend>
				<legend th:if="${sheet2Form.id > 0}"
					th:text="#{edit.edit} + ' ' + #{class.Sheet2}"></legend>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('datefield')}? 'has-error'">
					<label for="datefield" class="col-lg-2 control-label"
						th:text="#{Sheet2.datefield} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="datefield"
							th:field="*{datefield}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('datefield')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('decimalfield')}? 'has-error'">
					<label for="decimalfield" class="col-lg-2 control-label"
						th:text="#{Sheet2.decimalfield} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="decimalfield"
							th:field="*{decimalfield}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('decimalfield')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<input type="hidden" class="form-control" id="id" th:field="*{id}" />
				<div class="form-group"
					th:classappend="${#fields.hasErrors('integerfield')}? 'has-error'">
					<label for="integerfield" class="col-lg-2 control-label"
						th:text="#{Sheet2.integerfield} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="integerfield"
							th:field="*{integerfield}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('integerfield')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('text')}? 'has-error'">
					<label for="text" class="col-lg-2 control-label"
						th:text="#{Sheet2.text} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="text"
							th:field="*{text}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('text')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<button type="submit" name="action" value="save"
							class="btn btn-default" th:text="#{edit.save}"></button>
						<button type="submit" name="action" value="cancel" class="btn"
							th:text="#{edit.cancel}"></button>
					</div>
				</div>
			</fieldset>
		</form>

	</div>
	<div class="mt-auto" th:insert="fragments/footer :: footer">&copy;
		2020 default</div>
</body>
</html>
