<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="#{edit.edit} + ' ' + #{class.Account}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" media="screen"
	th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" media="screen"
	th:href="@{/resources/css/site.css}" />
<script th:src="@{/resources/js/jquery.min.js}"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>

	<div class="container">
		<form class="form-narrow form-horizontal" method="post"
			th:action="@{/accounts/save}" th:object="${accountForm}"
			th:fragment="accountForm">
			<!--/* Show general error messages when form contains errors */-->
			<th:block th:if="${#fields.hasErrors('${accountForm.*}')}">
				<div th:each="fieldErrors : ${#fields.errors('${accountForm.*}')}">
					<div th:each="message : ${fieldErrors.split(';')}">
						<div
							th:replace="fragments/alert :: alert (type='danger', message=${message})">Alert</div>
					</div>
				</div>
			</th:block>
			<fieldset>
				<legend th:if="${accountForm.id == 0}"
					th:text="#{edit.new} + ' ' + #{class.Account}"></legend>
				<legend th:if="${accountForm.id > 0}"
					th:text="#{edit.edit} + ' ' + #{class.Account}"></legend>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('email')}? 'has-error'">
					<label for="email" class="col-lg-2 control-label"
						th:text="#{Account.email} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="email"
							th:field="*{email}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('email')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<input type="hidden" class="form-control" id="id" th:field="*{id}" />
				<div class="form-group"
					th:classappend="${#fields.hasErrors('password')}? 'has-error'">
					<label for="password" class="col-lg-2 control-label"
						th:text="#{Account.password} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="password"
							th:field="*{password}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('password')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('password')}? 'has-error'">
					<label for="password" class="col-lg-2 control-label"
						th:text="#{Account.passwordConfirm} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="passwordConfirm"
							th:field="*{passwordConfirm}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('passwordConfirm')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('role')}? 'has-error'">
					<label for="role" class="col-lg-2 control-label"
						th:text="#{Account.role} + ':'"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="role"
							th:field="*{role}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('role')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<button type="submit" name="action" value="save"
							class="btn btn-default" th:text="#{edit.save}"></button>
						<button type="submit" name="action" value="cancel" class="btn"
							th:text="#{edit.cancel}"></button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>

	<div th:insert="fragments/footer :: footer">&copy; 2020 default</div>
</body></html>
