<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common_header(~{::title},~{},~{})">
<title th:text="#{search.advanced} + ' ' + #{class.Sheet2}"></title>
</head>
<body class="d-flex flex-column min-vh-100">
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="wrapper flex-grow-1">

		<form class="form-narrow form-horizontal" method="post"
			th:action="@{/sheet2s/search}" 
			th:object="${sheet2SearchForm}"
			th:fragment="sheet2SearchForm">
			<!--/* Show general error messages when form contains errors */-->
			<th:block th:if="${#fields.hasErrors('${sheet2SearchForm.*}')}">
				<div 
					th:each="fieldErrors : ${#fields.errors('${sheet2SearchForm.*}')}">
					<div th:each="message : ${fieldErrors.split(';')}">
						<div
							th:replace="fragments/alert :: alert (type='danger', message=${message})">Alert</div>
					</div>
				</div>
			</th:block>
			<fieldset>
				<legend th:text="#{search.advanced} + ' ' + #{class.Sheet2}"></legend>

				<div class="form-group">
					<label for="sheet2SearchForm.doOr"
						th:text="#{search.doOr} + ' ' + #{search.like}">Select
						type</label> <select class="form-control selectpicker" th:field="*{doOr}"
						id="sheet2SearchForm.doOr">
						<option
							th:each="doOr : ${T(com.dea42.genspring.search.SearchType).values()}"
							th:value="${doOr}" th:text="${doOr}"></option>
					</select>
				</div>

<!-- type=Date -->
				<div class="form-group">
					<label for="datefieldMin" class="col-lg-2 control-label"
						th:text="#{Sheet2.datefield} + ' ' + #{search.after}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="datefieldMin"
							th:field="*{datefieldMin}" />
					</div>
				</div>

				<div class="form-group">
					<label for="datefieldMax" class="col-lg-2 control-label"
						th:text="#{Sheet2.datefield} + ' ' + #{search.before}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="datefieldMax"
							th:field="*{datefieldMax}" />
					</div>
				</div>

<!-- info=ColInfo(fNum=6, colName=DecimalField, msgKey=Sheet2.decimalfield, vName=decimalfield, type=BigDecimal, jtype=null, stype=6, gsName=Decimalfield, length=0, pk=false, defaultVal=null, constraint=null, required=false, list=true, jsonIgnore=false, unique=false, hidden=false, password=false, email=false, created=false, lastMod=false, adminOnly=false, foreignTable=null, foreignCol=null, colScale=10, colPrecision=2000000000, comment=null) -->
				<div class="form-group">
					<label for="decimalfieldMin" class="col-lg-2 control-label"
						th:text="#{Sheet2.decimalfield} + ' ' + #{search.gte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="decimalfieldMin"
							th:field="*{decimalfieldMin}" />
					</div>
				</div>

				<div class="form-group">
					<label for="decimalfieldMax" class="col-lg-2 control-label"
						th:text="#{Sheet2.decimalfield} + ' ' + #{search.lte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="decimalfieldMax"
							th:field="*{decimalfieldMax}" />
					</div>
				</div>

<!-- info=ColInfo(fNum=4, colName=IntegerField, msgKey=Sheet2.integerfield, vName=integerfield, type=Integer, jtype=null, stype=4, gsName=Integerfield, length=0, pk=false, defaultVal=null, constraint=null, required=true, list=true, jsonIgnore=false, unique=false, hidden=false, password=false, email=false, created=false, lastMod=false, adminOnly=false, foreignTable=null, foreignCol=null, colScale=0, colPrecision=0, comment=null) -->
				<div class="form-group">
					<label for="integerfieldMin" class="col-lg-2 control-label"
						th:text="#{Sheet2.integerfield} + ' ' + #{search.gte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="integerfieldMin"
							th:field="*{integerfieldMin}" />
					</div>
				</div>

				<div class="form-group">
					<label for="integerfieldMax" class="col-lg-2 control-label"
						th:text="#{Sheet2.integerfield} + ' ' + #{search.lte}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="integerfieldMax"
							th:field="*{integerfieldMax}" />
					</div>
				</div>

				<div class="form-group">
					<label for="text" class="col-lg-2 control-label"
						th:text="#{Sheet2.text} + ' ' + #{search.like}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="text"
							th:field="*{text}" />
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<button type="submit" name="action" value="search"
							class="btn btn-default" th:text="#{search.search}"></button>
						<button type="submit" name="action" value="reset"
							class="btn btn-default" th:text="#{search.reset}"></button>
					</div>
				</div>
			</fieldset>
		</form>

	</div>
	<div class="mt-auto" th:insert="fragments/footer :: footer">&copy;
		2020 default</div>
</body>
</html>
