<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common_header(~{::title},~{::links},~{::scripts})">
<title th:text="#{edit.listView} + ' ' + #{class.Sheet1User}"></title>
<links>
<link th:rel="stylesheet"
	th:href="@{/webjars/datatables/css/jquery.dataTables.min.css} " />
</links>
<scripts> <script
	th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script> </scripts>
</head>
<body class="d-flex flex-column min-vh-100">
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="wrapper flex-grow-1">

		<div class="container-fluid" th:with="SearchForm=${session.sheet1UserSearchForm}">
			<h1 th:text="#{class.Sheet1User} + ' ' + #{edit.list}"></h1>
			<a th:href="@{/sheet1Users/search}"
				th:text="#{search.advanced} + ' ' + #{class.Sheet1User}"></a> <br /> <a
				th:href="@{/sheet1Users/new}"
				th:text="#{edit.new} + ' ' + #{class.Sheet1User}"></a> <br /> <br />
			<div style="float: right;" th:text="#{search.like}"></div>

			<table id="resultsTable" class="table table-bordered table-striped table-condensed"
				style="width: 100%">
				<thead>
					<tr>
						<th th:text="#{Sheet1.datefield}"></th>
						<th th:text="#{Sheet1.decimalfield}"></th>
						<th th:text="#{Sheet1.intfield}"></th>
						<th th:text="#{Sheet1.text}"></th>
						<th sec:authorize="hasRole('ROLE_ADMIN')"  th:text="#{Account.email}"></th>
						<th sec:authorize="hasRole('ROLE_ADMIN')"  th:text="#{Account.name}"></th>
						<th sec:authorize="hasRole('ROLE_ADMIN')"  th:text="#{Account.userrole}"></th>
						<th th:text="#{Sheet1User.useryn}"></th>
						<th th:text="#{edit.actions}"></th>
					</tr>
				</thead>
			</table>
			<script th:inline="javascript">
				var editLab = /*[[#{edit.edit}]]*/'[msg not found]';
				var deleteLab = /*[[#{edit.delete}]]*/'[msg not found]';
				var datatablesUrl = /*[[#{datatables.url}]]*/'[msg not found]';
				var link = /*[[@{/api/sheet1Users/list}]]*/ '/api/sheet1Users/list';
				var ctx = /*[[@{/}]]*/ '/';
			</script>
			<script>
				$('#resultsTable').DataTable({
					"processing" : true,
					"serverSide" : true,
				    "language" : {
				        "url" : datatablesUrl
					    },
					"ajax" : {
						"url" : link,
						"type" : "POST",
						"dataType" : "json",
						"contentType" : "application/json",
						"data" : function(d) {
							return JSON.stringify(d);
						}
					},
					"columns" : [ {
						"name" : "datefield",
						"data" : "sheet1.datefield",
					}, {
						"name" : "decimalfield",
						"data" : "sheet1.decimalfield",
					}, {
						"name" : "intfield",
						"data" : "sheet1.intfield",
					}, {
						"name" : "text",
						"data" : "sheet1.text",
					}, {
						"name" : "email",
						"data" : "account.email",
					}, {
						"name" : "name",
						"data" : "account.name",
					}, {
						"name" : "userrole",
						"data" : "account.userrole",
					}, {
						"name" : "useryn",
						"data" : "useryn",
					}, {
						"data" : "id",
						"render" : make_edit_links,
						"width" : "10%"
					} ]
				});


				function make_edit_links(id) {
					return "<a href=\""+ctx+"sheet1Users/edit/" + id +"\" id=\"edit_"+id + "\">"
							+ editLab
							+ "</a> &nbsp;&nbsp;&nbsp;"
							+ "<a href=\""+ctx+"sheet1Users/delete/" + id +"\" id=\"delete_"+id + "\">"
							+ deleteLab + "</a>";
				}
			</script>
		</div>

	</div>
	<div class="mt-auto" th:insert="fragments/footer :: footer">&copy;
		2020 default</div>
</body>
</html>
