<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common_header(~{::title},~{},~{})">
<title th:text="#{signin.signin}"></title>
</head>
<body>
	<div class="container">
		<form id="signinForm" class="form-narrow form-horizontal"
			method="post" th:action="@{/authenticate}" th:object="${loginForm}"
			th:fragment="loginForm">
			<!--/* Show general error message when form contains errors */-->
			<th:block th:if="${#fields.hasErrors('${loginForm.*}')}">
				<div
					th:replace="fragments/alert :: alert (type='danger', message=#{form.errors})">Alert</div>
			</th:block>
			<!-- /* Handle the flash message */-->
			<th:block th:if="${message != null}">
				<!-- /* The message code is returned from the @Controller */ -->
				<div
					th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
			</th:block>
			<fieldset>
				<legend th:text="#{signin.title}"></legend>
				<div class="form-group"
					th:classappend="${#fields.hasErrors('email')}? 'has-error'">
					<label for="email" class="col-lg-2 control-label"
						th:text="#{signin.email}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="email"
							placeholder="Email address" th:field="*{email}" /> <span
							class="help-block" th:if="${#fields.hasErrors('email')}"
							th:errors="*{email}">Incorrect email</span>
					</div>
				</div>
				<div class="form-group"
					th:classappend="${#fields.hasErrors('password')}? 'has-error'">
					<label for="password" class="col-lg-2 control-label"
						th:text="#{signin.password}"></label>
					<div class="col-lg-10">
						<input type="password" class="form-control" id="password"
							placeholder="Password" th:field="*{password}" /> <span
							class="help-block" th:if="${#fields.hasErrors('password')}"
							th:errors="*{password}">Incorrect password</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<div class="checkbox">
							<label> <input id="rememberMe" type="checkbox"
								name="_spring_security_remember_me" /> <span
								th:text="#{signin.rememberMe}"></span>
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<button id="signinBtn" type="submit" class="btn btn-default"
							th:text="#{signin.signin}"></button>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<p>
							<span th:text="#{signin.newHere}"></span> <a href="signup"
								th:href="@{/signup}" th:text="#{signin.signup}"></a>
						</p>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</body>
</html>