<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common_header(~{::title},~{},~{})">
<title th:text="#{signin.signup}"></title>
</head>
<body>
	<div class="container">
		<form class="form-narrow form-horizontal" method="post"
			th:action="@{/signup}" th:object="${accountForm}"
			th:fragment="accountForm">
			<input type="hidden" class="form-control" id="userrole" th:field="*{userrole}" />
			<input type="hidden" class="form-control" id="id" th:field="*{id}" />
			<!--/* Show general error messages when form contains errors */-->
			<th:block th:if="${#fields.hasErrors('${accountForm.*}')}">
				<div
					th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
				<div th:each="fieldErrors : ${#fields.errors('${accountForm}')}">
					<div th:each="message : ${fieldErrors.split(';')}">
						<div
							th:replace="fragments/alert :: alert (type='danger', message=${message})">Alert</div>
					</div>
				</div>
				<ul class="help-block" th:each="error: ${#fields.errors('userrole')}">
					<li th:each="message : ${error.split(';')}">
						<p class="error-message" th:text="${message}"></p>
					</li>
				</ul>
			</th:block>
			<fieldset>
				<legend th:text="#{signup.title}"></legend>
				<div class="form-group"
					th:classappend="${#fields.hasErrors('name')}? 'has-error'">
					<label for="name" class="col-lg-2 control-label"
						th:text="#{Account.name}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="name"
							th:placeholder="#{Account.name}" th:field="*{name}" />
						<ul class="help-block" th:each="error: ${#fields.errors('name')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>
				<div class="form-group"
					th:classappend="${#fields.hasErrors('email')}? 'has-error'">
					<label for="email" class="col-lg-2 control-label"
						th:text="#{Account.email}"></label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="email"
							th:placeholder="#{Account.email}" th:field="*{email}" />
						<ul class="help-block" th:each="error: ${#fields.errors('email')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>

					</div>
				</div>
				<div class="form-group"
					th:classappend="${#fields.hasErrors('password')}? 'has-error'">
					<label for="password" class="col-lg-2 control-label"
						th:text="#{Account.password}"></label>
					<div class="col-lg-10">
						<input type="password" class="form-control" id="password"
							th:placeholder="#{signin.password}" th:field="*{password}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('password')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>

					</div>
				</div>
				<div class="form-group"
					th:classappend="${#fields.hasErrors('passwordConfirm')}? 'has-error'">
					<label for="passwordConfirm" class="col-lg-2 control-label"
						th:text="#{Account.passwordConfirm}"></label>
					<div class="col-lg-10">
						<input type="password" class="form-control" id="passwordConfirm"
							placeholder="Password" th:field="*{passwordConfirm}" />
						<ul class="help-block"
							th:each="error: ${#fields.errors('passwordConfirm')}">
							<li th:each="message : ${error.split(';')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<button type="submit" class="btn btn-default"
							th:text="#{signin.signup}"></button>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<p>
							<span th:text="#{signin.haveAccount}"></span> <a
								th:href="@{/login}" th:text="#{signin.signin}"></a>
						</p>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</body>
</html>